.main-wrap {
  margin-left: 260px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f3f4f6;
}
.page-content {
  flex: 1;
  padding: 24px;
}
@media (max-width: 768px) {
  .main-wrap {
    margin-left: 0;
  }
}
