<div class="container mt-4">
  <h2>Approved Hotels</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let hotel of hotels">
      <div class="card mb-3">
        <img [src]="hotel.image" class="card-img-top" alt="{{hotel.hotelName}}">
        <div class="card-body">
          <h5 class="card-title">{{hotel.hotelName}}</h5>
          <p>{{hotel.address}}</p>
          <p>BDT{{hotel.pricePerNight}} / night</p>
          <button (click)="deleteHotel(hotel.id)" class="btn btn-danger btn-sm">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
